.color-oris {
    color: rgb(175, 26, 35);
}

.background-oris {
    background-color: rgb(175, 26, 35);
}

.color-second-oris {
    color: #9c9c9c;
}

.bg-second-oris {
    background-color: #9c9c9c;
}

.btn-oris {
    color: white;
    background-color: rgb(175, 26, 35);
    border-color: white;
}

.btn-oris:hover {
    color: white;
    background-color: rgb(175, 26, 35);
    border-color: rgb(175, 26, 35);
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("../images/portada.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    .masthead {
        height: 50vh;
    }
}

@media (max-width: 420px) {
    .masthead {
        height: 100vh;
    }
}

.navbar {
    background-color: rgb(175, 26, 35);
}

#navbarNav a {
    color: white;
}

#navbarNav a:hover {
    background-color: white;
    color: rgb(175, 26, 35);
    font-weight: bold;
    text-decoration: underline;
}

#porque-oris,
#duda-consulta,
#area-personal {
    font-family: "trebuchet", "Trebuchet MS" !important;
    font-size: medium;
}

#duda-consulta .btn-oris:hover {
    color: rgb(175, 26, 35);
    background-color: white;
    border-color: white;
    font-weight: bold;
}

#avatar-personal {
    position: relative;
    width: 120px;
    height: 120px;
    top: -95px;
    border-radius: 50%;
    background-color: #fff;
    margin: 30px auto -50px auto;
    padding: 5px;
}

#avatar-personal img {
    width: 110px;
    height: 110px;
}

.bg-nav {
    background-color: rgb(54 54 50);
}

.bg-presentacion {
    background-color: #44433f;
}

#app-presentacion .avatar {
    width: 85%;
}

#app-presentacion .dropdown-toggle::after {
    color: #cecece;
}

#pantalla .embed-responsive.embed-responsive-21by9.border.border-white {
    width: 80%;
    left: 10%;
    height: 470px;
}

.w-8 {
    width: 8% !important;
}

#nav-tab-presentaciones .nav-link.active {
    background-color: #f8f9fa;
}

#nav-tab-presentaciones a {
    color: black;
}

#nav-tab-presentaciones a.active {
    color: #007bff;
}

#rubrica-contenido,
#rubrica-organizacion,
#rubrica-exposicion,
#rubrica-tiempo {
    display: none;
}

#contenido:hover,
#organizacion:hover,
#exposicion:hover,
#tiempo:hover,
#valoracion:hover {
    cursor: pointer;
}

.cabecera {
    margin-bottom: 40px;
    margin-top: 70px;
}

.cabecera h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    color: #cd2828;
    margin-top: 0;
    margin-bottom: 24px;
}

.separador {
    display: inline-block;
    height: 3px;
    width: 50px;
    position: relative;
    overflow: hidden;
    background-color: #cd2828;
}

#accordion-faq button {
    background-color: #eee !important;
}

.map-container iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

.px-cuestionario {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
}

@media (max-width: 992px) {
    .px-cuestionario {
        padding-right: 8rem !important;
        padding-left: 8rem !important;
    }
}

@media (max-width: 768px) {
    .px-cuestionario {
        padding-right: 6rem !important;
        padding-left: 6rem !important;
    }
}

@media (max-width: 576px) {
    .px-cuestionario {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
}

.font-size-cuestionario {
    font-size: 2.5rem !important;
    font-weight: bold !important;
}

.descripcion-cuestionario {
    color: #727272;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 1.5rem !important;
}

fieldset.cuestionario {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    color: #727272;
}

legend.cuestionario {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
}

.pregunta-cuestionario {
    font-size: 1rem;
}

.rating {
    border: none;
    margin-right: 76%;
}

@media (max-width: 1209px) {
    .rating {
        margin-right: 70%;
    }
}

@media (max-width: 991px) {
    .rating {
        margin-right: 60%;
    }
}

@media (max-width: 768px) {
    .rating {
        margin-right: 45%;
    }
}

@media (max-width: 576px) {
    .rating {
        margin-right: 55%;
    }
}

@media (max-width: 460px) {
    .rating {
        margin-right: 35%;
    }
}

.rating > [id^="star"] {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > [id^="star"]:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ffd700;
}

.rating > [id^="star"]:checked + label:hover,
.rating > [id^="star"]:checked ~ label:hover,
.rating > label:hover ~ [id^="star"]:checked ~ label,
.rating > [id^="star"]:checked ~ label:hover ~ label {
    color: #ffed85;
}

#fa-question-circle:hover {
    cursor: pointer;
}

#misAsignaturas a {
    color: #212529;
}

#respuestasAlumnos * {
    list-style: none;
}
#respuestasAlumnos li {
    line-height: 180%;
}
#respuestasAlumnos li a {
    color: #222;
    text-decoration: none;
}
#respuestasAlumnos li a:before {
    content: "\025b8";
    color: #ddd;
    margin-right: 4px;
}
#respuestasAlumnos input[name="list"] {
    position: absolute;
    left: -1000em;
}
#respuestasAlumnos label:hover {
    text-decoration: underline;
}
#respuestasAlumnos label:before {
    content: "\025b8";
    margin-right: 4px;
}
#respuestasAlumnos input:checked ~ label:before {
    content: "\025be";
}
#respuestasAlumnos .interior {
    display: none;
}
#respuestasAlumnos input:checked ~ ul {
    display: block;
    margin-bottom: 0.5rem !important;
}
